{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <!--Elementos de la izquierda-->
        <ul class="nav-left">
            <li><a href="">Forum</a></li>
            <li><a href="">About</a></li>
        </ul>

        <!--Logo centrado-->
        <a href="#" class="logo">
            <img src="{% static 'src/img/logo.png' %}" alt="">
        </a>

        <!--Elementos de la derecha-->
        <ul class="nav-right">
            <li><a href="">Developers</a></li>
            <li><a href="">Log in</a></li>
        </ul>
    </nav>

    <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit iaculis posuere, ultricies in nibh
        lacus aliquet nulla fusce himenaeos luctus, ante quam curabitur parturient facilisi nullam 
        conubia magna. Per enim magnis posuere cras blandit primis dis id dictum, vestibulum class 
        urna curabitur laoreet tellus venenatis erat, curae suspendisse montes phasellus imperdiet 
        tempus porttitor libero. Dis diam per cras sem donec morbi mattis arcu in vitae ullamcorper 
        auctor, nam turpis quam nostra lobortis massa congue litora quis euismod magna tempor, feugiat 
        luctus sodales ultricies ad posuere viverra augue suspendisse mollis netus.
        Faucibus inceptos orci mi lobortis sollicitudin dapibus pretium sagittis magnis sodales venenatis, 
        fermentum tincidunt torquent dictum mus commodo sociosqu habitasse fames eros mollis, sapien odio 
        placerat in facilisis aliquam vulputate accumsan vestibulum dictumst. Placerat convallis ligula 
        nibh cum ultricies id arcu habitasse scelerisque porta, mollis imperdiet vehicula etiam rutrum felis 
        morbi tempus cursus, ante eleifend dictum class mi fames conubia mattis luctus. Ultrices dignissim 
        rhoncus egestas mus porta justo inceptos conubia, tincidunt vehicula tristique netus sapien convallis 
        id. Vel hendrerit ut taciti sapien dictumst nullam malesuada turpis volutpat, montes habitant curae eros 
        risus fermentum pulvinar laoreet.
    </p>

    <p>
        Donec tempor nisi dui ornare massa pharetra hac felis magnis justo non dictum venenatis 
        suspendisse, accumsan sodales etiam eu facilisis rutrum semper et montes consequat conubia 
        mi. Dictum duis suscipit convallis est hendrerit ultrices fusce condimentum iaculis ac morbi, 
        velit cum venenatis himenaeos luctus potenti tincidunt blandit risus. Quisque nec rutrum nam 
        fusce vel volutpat senectus eget in condimentum viverra magna eros, euismod orci nunc mollis 
        vulputate urna ornare hac cum cursus id ut. Sem bibendum parturient aliquam nec dapibus 
        rhoncus hendrerit non phasellus, duis posuere leo lacus venenatis donec tempus platea, egestas 
        scelerisque conubia quis ac facilisi turpis class.
    </p>

    <p>
        Commodo egestas dapibus augue eu rhoncus gravida porta, risus proin donec pretium ullamcorper 
        eleifend accumsan ut, sapien facilisi ultricies magnis ac mauris. Orci etiam at vulputate feugiat 
        quam sollicitudin volutpat nullam nostra tincidunt dis lacinia, fusce sapien habitasse arcu mauris 
        nascetur egestas sed tristique fermentum. Risus sapien proin urna semper aptent potenti vehicula, 
        netus ullamcorper maecenas imperdiet dapibus eget, egestas hac hendrerit iaculis venenatis nulla.
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit iaculis posuere, ultricies in nibh
        lacus aliquet nulla fusce himenaeos luctus, ante quam curabitur parturient facilisi nullam 
        conubia magna. Per enim magnis posuere cras blandit primis dis id dictum, vestibulum class 
        urna curabitur laoreet tellus venenatis erat, curae suspendisse montes phasellus imperdiet 
        tempus porttitor libero. Dis diam per cras sem donec morbi mattis arcu in vitae ullamcorper 
        auctor, nam turpis quam nostra lobortis massa congue litora quis euismod magna tempor, feugiat 
        luctus sodales ultricies ad posuere viverra augue suspendisse mollis netus.
        Faucibus inceptos orci mi lobortis sollicitudin dapibus pretium sagittis magnis sodales venenatis, 
        fermentum tincidunt torquent dictum mus commodo sociosqu habitasse fames eros mollis, sapien odio 
        placerat in facilisis aliquam vulputate accumsan vestibulum dictumst. Placerat convallis ligula 
        nibh cum ultricies id arcu habitasse scelerisque porta, mollis imperdiet vehicula etiam rutrum felis 
        morbi tempus cursus, ante eleifend dictum class mi fames conubia mattis luctus. Ultrices dignissim 
        rhoncus egestas mus porta justo inceptos conubia, tincidunt vehicula tristique netus sapien convallis 
        id. Vel hendrerit ut taciti sapien dictumst nullam malesuada turpis volutpat, montes habitant curae eros 
        risus fermentum pulvinar laoreet.
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit iaculis posuere, ultricies in nibh
        lacus aliquet nulla fusce himenaeos luctus, ante quam curabitur parturient facilisi nullam 
        conubia magna. Per enim magnis posuere cras blandit primis dis id dictum, vestibulum class 
        urna curabitur laoreet tellus venenatis erat, curae suspendisse montes phasellus imperdiet 
        tempus porttitor libero. Dis diam per cras sem donec morbi mattis arcu in vitae ullamcorper 
        auctor, nam turpis quam nostra lobortis massa congue litora quis euismod magna tempor, feugiat 
        luctus sodales ultricies ad posuere viverra augue suspendisse mollis netus.
        Faucibus inceptos orci mi lobortis sollicitudin dapibus pretium sagittis magnis sodales venenatis, 
        fermentum tincidunt torquent dictum mus commodo sociosqu habitasse fames eros mollis, sapien odio 
        placerat in facilisis aliquam vulputate accumsan vestibulum dictumst. Placerat convallis ligula 
        nibh cum ultricies id arcu habitasse scelerisque porta, mollis imperdiet vehicula etiam rutrum felis 
        morbi tempus cursus, ante eleifend dictum class mi fames conubia mattis luctus. Ultrices dignissim 
        rhoncus egestas mus porta justo inceptos conubia, tincidunt vehicula tristique netus sapien convallis 
        id. Vel hendrerit ut taciti sapien dictumst nullam malesuada turpis volutpat, montes habitant curae eros 
        risus fermentum pulvinar laoreet.
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit iaculis posuere, ultricies in nibh
        lacus aliquet nulla fusce himenaeos luctus, ante quam curabitur parturient facilisi nullam 
        conubia magna. Per enim magnis posuere cras blandit primis dis id dictum, vestibulum class 
        urna curabitur laoreet tellus venenatis erat, curae suspendisse montes phasellus imperdiet 
        tempus porttitor libero. Dis diam per cras sem donec morbi mattis arcu in vitae ullamcorper 
        auctor, nam turpis quam nostra lobortis massa congue litora quis euismod magna tempor, feugiat 
        luctus sodales ultricies ad posuere viverra augue suspendisse mollis netus.
        Faucibus inceptos orci mi lobortis sollicitudin dapibus pretium sagittis magnis sodales venenatis, 
        fermentum tincidunt torquent dictum mus commodo sociosqu habitasse fames eros mollis, sapien odio 
        placerat in facilisis aliquam vulputate accumsan vestibulum dictumst. Placerat convallis ligula 
        nibh cum ultricies id arcu habitasse scelerisque porta, mollis imperdiet vehicula etiam rutrum felis 
        morbi tempus cursus, ante eleifend dictum class mi fames conubia mattis luctus. Ultrices dignissim 
        rhoncus egestas mus porta justo inceptos conubia, tincidunt vehicula tristique netus sapien convallis 
        id. Vel hendrerit ut taciti sapien dictumst nullam malesuada turpis volutpat, montes habitant curae eros 
        risus fermentum pulvinar laoreet.
    </p>

</body>

<footer>
    <div class="upper-footer">
        <!--Logo-->
        <a href="#" class="logo-footer">
        <img src="{% static 'src/img/logo.png' %}" alt="">
        </a>

        <!--Redes sociales-->
        <ul class="footer-social">
            <li><a href="">Facebook</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">Discord</a></li>
            <li><a href="">XXX</a></li>
        </ul>
    </div>
    <div class="lower-footer">
        <p class="footer-copy">Copyright 2024 - 2024 Daycafer y Asociados</p>
    </div>
</footer>
</html>